$background-color: #232f3e;
$background-color-lighter: #2d3d52;
$main-color: #ff9900;
$primary-color: #ffffff;
$secondary-color: #999999;

///////////////////
// POP UP TAB STUFF
#capybara-extension--pop-up-tab--container {
  position: fixed;
  bottom: 0;
  left: 80px;
  background-color: $background-color;
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 10px;
  padding-bottom: 8px;

  &:hover {
    cursor: pointer;
  }
}

///////////////////////////
// MAIN EXTENSION CONTAINER
#capybara-extension--extension--container {
  position: fixed;
  height: 400px;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: $background-color;
  z-index: 10000;
  display: flex;
  flex-flow: column;
}

.hidden {
  height: 0 !important;
}

////////////////////////
// MAIN EXTENSION NAVBAR
#capybara-extension--navbar--wrapper {
  display: flex;
  justify-content: space-between;
}

#capybara-extension--navbar {
  display: inline-block;
  text-align: right;
}

.capybara-extension--navbar--container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  text-align: center;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.capybara-extension--navbar--link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 14px;
  padding-left: 14px;
  color: $primary-color;
  font-size: 22px;
  border-bottom-color: $main-color;
  border-bottom-width: 5px;
  border-bottom-style: solid;

  &.exit {
    border: 2px solid $secondary-color;
    border-radius: 15px;
  }

  &.exit:hover {
    background-color: $background-color-lighter;
  }

  &:hover {
    cursor: pointer;
  }
}

.capybara-extension--navbar--logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 14px;
  padding-left: 14px;
  color: $primary-color;
  font-size: 22px;

  &:hover {
    cursor: pointer;
  }

  a {
    color: $main-color;
    text-decoration: none;
  }

  a:hover {
    color: $main-color;
    text-decoration: none;
  }
}

/////////////////////////
// MAIN EXTENSION CONTENT
.capybara-extension--content--container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-grow: 1;
}

.capybara-extension--content--col {
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 6px;
  margin-right: 6px;
  background-color: $primary-color;
  display: inline-block;
}

.capybara-extension--content--col-3 {
  width: 32%;
}

.capybara-extension--content--col-9 {
  width: 66%;
}
